<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="1800 seconds" debug="false">

	<property scope="context" name="FILE_NAME" value="mylog-logback" />
	<substitutionProperty name="USER_HOME"
		value="${catalina.base}/logs/bdc_NingDe_logs/" />

	<timestamp key="byDay" datePattern="yyyy-MM-dd" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="file_recordSQL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${USER_HOME}/sql.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>
				${USER_HOME}/${byDay}/${FILE_NAME}-${byDay}-%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>
				%d{yyyy-MM-dd:HH:mm:ss.SSS} - %msg %n%n
			</pattern>
		</layout>
	</appender>
	
	<appender name="Exception"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${USER_HOME}/Exception.log</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>
				${USER_HOME}/${byDay}/${FILE_NAME}-${byDay}-%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>
				%d{yyyy-MM-dd:HH:mm:ss.SSS} - %msg %n%n
			</pattern>
		</layout>
	</appender>
	<!-- sql语句 -->
	<logger name="com.kanq.etm.dao" level="debug" additivity="true">
		<appender-ref ref="file_recordSQL" />
	</logger>
	<!-- 异常 -->
	<logger name="Exception" level="debug" additivity="true">
		<appender-ref ref="Exception" />
	</logger>
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>